body {
  background-color: #efefef;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caixa-info {
    position: absolute;
    width: 53%;
    top: 3%;
    padding: 300px;
    background-color: white;
    border: 1px solid #555;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden; /* importante para arredondar o topo com a barra azul */
}

.barra-superior {
  background-color: #1f7ae0;
  position: absolute;
  top: 0%;
  padding:20px;
  width: 100%;
  left: 0%;
  text-align: center;
}

.titulo {
  color: white;
  font-size: 24px;
  margin: 0;
}

.titulo-2 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 0;
}

.titulo-3 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 0;
}

.titulo-4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 0;
}
